<div class="jumbotron">
  <h1>Welcome to Tweaker!</h1>
  <p>Find out where all the tweakers go to get a hit.</p>
  <p><a href="<%= hits_path %>" class="btn btn-primary btn-lg" role="button">Read the hits!</a></p>
</div>
<%= render(@hits) %>
